{% extends "base.html" %}

{% block body %}

<div class="card" style="width: 25rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Hello everyone !!!
        <br/>
        I am Kajal Kashyap, a final-year Master of Computer Applications (MCA) student at NIT Allahabad. This project marks my initial venture into web development using Flask. As part of my journey to master Flask, I am focusing on building a strong foundation by working on practical projects like this one. This is an exciting learning phase for me as I explore and implement the fundamentals of Flask and web application development.


      </p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>

{% endblock body %}