
{% extends 'base.html' %}

{% block body%}
    

    <div class="container my-3">
      <h2>Add Tasks</h2>
      <form action="/" method="POST">
        <div class="mb-3">
          <label for="title">Todo Title</label>
          <input type="text" class="form-control" name="title" id="title" />
        </div>

        <div class="mb-3">
          <label for="desc">Todo Description</label>
          <input type="text" class="form-control" name="desc" id="desc" />
        </div>

        <button type="submit" class="btn btn-outline-dark">Submit</button>
      </form>
    </div>

    <div class="container my-3">
      <h2>All Tasks</h2>

      {% if alltodo|length == 0 %}
      <h1>No Record</h1>
      {% else %}
      <table class="table my-3">
        <thead>
          <tr>
            <th scope="col">Sno</th>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Date</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for todo in alltodo %}
          <tr>
            <th scope="row">{{loop.index}}</th>
            <td>{{todo.title}}</td>
            <td>{{todo.desc}}</td>
            <td>{{todo.date_created}}</td>
            <td>
              <a
                href="/update/{{todo.sno}}"
                type="button"
                class="btn btn-outline-dark btn-sm mx-1"
                >Update</a
              >
              <a
                href="/delete/{{todo.sno}}"
                type="button"
                class="btn btn-outline-dark btn-sm mx-1"
                >Delete</a
              >
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% endif %}
    </div>

    
  

{% endblock body %}
  